html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background: linear-gradient(to bottom, #010a14, #1c2841);
}

.bar {
  position: sticky;
  top: 0;
  width:97%;
  background: rgba(0, 0, 0, 0.9);
  color:white;
  display:flex;
  justify-content:space-between;
  padding: 1.5%;
  z-index:100;
  flex-wrap:wrap;
}

.bar nav {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
}

.bar h2 {
  margin:0;
  font-size:3vw;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background: linear-gradient(to bottom, #010a14, #1c2841);
}

.bar {
  position: sticky;
  top: 0;
  width:97%;
  background: rgba(0,0,0,0.9);
  color:white;
  display:flex;
  justify-content:space-between;
  padding: 1.5%;
  z-index:100;
  flex-wrap:wrap;
}

.bar nav {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
}

.bar h2 {
  margin:0;
  font-size:3vw;
}

.bar a {
  color:white;
  text-decoration:none;
  font-size:2vw;
  margin: 1vw;
}

.bar a:hover {
  color:rgb(239,222,201);
}

.bar button {
  background:none;
  border:none;
  color:white;
  font-style: normal;
  cursor:pointer;
}


.bar button {
  background:none;
  border:none;
  color:white;
  font-style: normal;
  cursor:pointer;
}

.cart{
  position: fixed;
  right: 20px;
  top: 120px;
  width: 250px;
  background: #111;
  color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cart h2{
  margin-top: 0;
  text-align: center;
}




.sökmotor {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
}

input, select {
  padding: 10px;
  border-radius: 8px;
  border: none;
}


.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
}


.card {
  background: #222;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card p, h2{
  color:rgb(255, 255, 255)
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: red;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #b37818;
  box-shadow: rgba(0, 0, 0, 0.15);
}

footer{
  background-color:#000;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:2%;
}

.footer p{
  text-align:center;
  margin:0;
  color:rgb(255,252,252);
  font-size:2.5vw;
}

ul{
  color:aliceblue;
  list-style:none;
}