html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background: linear-gradient(to bottom, #010a14, #1c2841);
}

.bar {
  position: sticky;
  top: 0;
  width:97%;
  background: rgba(0, 0, 0, 0.9);
  color:white;
  display:flex;
  justify-content:space-between;
  padding: 1.5%;
  z-index:100;
  flex-wrap:wrap;
}

.bar nav {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
}

.bar h2 {
  margin:0;
  font-size:3vw;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background: linear-gradient(to bottom, #010a14, #1c2841);
}

.bar {
  position: sticky;
  top: 0;
  width:97%;
  background: rgba(0,0,0,0.9);
  color:white;
  display:flex;
  justify-content:space-between;
  padding: 1.5%;
  z-index:100;
  flex-wrap:wrap;
}

.bar nav {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
}

.bar h2 {
  margin:0;
  font-size:3vw;
}

.bar a {
  color:white;
  text-decoration:none;
  font-size:2vw;
  margin: 1vw;
}

.bar a:hover {
  color:rgb(239,222,201);
}

.bar button {
  background:none;
  border:none;
  color:white;
  font-style: normal;
  cursor:pointer;
}


.bar button {
  background:none;
  border:none;
  color:white;
  font-style: normal;
  cursor:pointer;
}

#hem{
  position: absolute;
  top: 50%;
  left: 15%;
  width: 100px;
  border-radius: 5px;
  font-style: normal;
}


.underblock {
  margin-top:2.5%;
  margin-bottom: 2.5%;
  margin-left: 33%;
  flex-direction: column;
  padding: 30px;
  width: 350px;     
  background-color: rgb(50, 53, 105);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


.kontakt {
  color: aliceblue;
  font-size: 18px;
  text-align: center;
  
}

label{
  font: inherit;
 

}

input,
textarea {
  margin: 2px auto; 
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  font-style: normal;
  display: block;
}


h1 {
  text-align: center;
  color: beige;
  padding: 5px;
  border-radius: 8px;
  border: none;
  font-style: normal;
}

button {
  display: block;
  margin: 2px auto; 
  padding: 10px;
  border: none;
  background: red;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #b37818;
  box-shadow: rgba(0, 0, 0, 0.15);
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  border-radius: 10px;
}

footer{
  background-color:#000;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:2%;
}

.footer p{
  text-align:center;
  margin:0;
  color:rgb(255,252,252);
  font-size:2.5vw;
}

ul{
  color:aliceblue;
  list-style:none;
}