html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background: linear-gradient(to bottom, #010a14, #1c2841);
}

.bar {
  position: sticky;
  top: 0;
  width: 100%; 
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  z-index: 100;
}

.bar nav {
  display: flex; 
  align-items: center;
}

.bar h2 {
  margin: 0;
}

.bar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.bar a:hover {
  text-decoration: none;
  color:rgb(239, 222, 201)
}


.bar button {
  background: none;
  border: none;
  color: white;
  font: inherit;        
  cursor: pointer;
}


.header {
  position: relative;
  display: flex;
}

.header h1 {
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #FFFCFC;
  font-size: 90px;
  margin: 0;
}

.header p {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: rgb(41, 54, 91);
  font-size: 50px;
  margin: 0;
}

#Porsche { 
  width: 100%; 
  height: 565px; 
  object-fit: cover;
}

#Ferrari{ 
  width: 100%; 
  height: 565px; 
  display: block; 
  position: static;
}

.Ferrai {
  position: relative;
  display: flex;
  align-items: center;
}

.sidetext{
  position: absolute;
  top:100px;
  width: 25%;
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 2%;
}

#shoppen{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 300%;
}


.porsche911,
.FerrariGT3 {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 600px;
}



#Porsche992,
#FerrariGT3 {
  width: 300px;
  border-radius: 15px;
}

.porsche911 p,
.FerrariGT3 p {
  width: 45%;
  color: white;
  font-size: 20px;
  flex-wrap: wrap;
}


footer{
  background-color: #041932;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer p{
  position: absolute;
  text-align: center;
  margin-left: 30%;
  color: #FFFCFC;
  font-size: 10px;
}